<a class="investment-project__image-wrapper" href="http://www.euronordic.nl/" target="_blank">
  <img class="investment-project__image" src="{{ image }}">
  <h3 class="investment-project__title">{{ name }}</h3>
</a>

<div class="investment-project__info">
  {{yield}}
</div>
