{{#field-set "Log in"}}
  {{input-field
    label="Email"
    value=email
    type="email"
    placeholder="name@company.com"
    name="email"
  }}

  {{input-field
    label="Password"
    value=password
    placeholder="my-h@rd-t0-gue5s-pas5word!"
    type="password"
    name="password"
  }}

  {{#form-button
    label="Log in"
  }}
    Log in
  {{/form-button}}

  {{#each loginStatus.errors as |error|}}
    <p class="login-form__error">
      {{error}}
    </p>
  {{/each}}
{{/field-set}}
