$c-valid: #5b9407;
$c-error: #e44b14;

.input-field {
  margin-top: $g-1;

  &__label {
    @include t-subheading;
    display: inline-block;
    position: relative;
    z-index: z-index(field-label);
    left: 1px;
    padding: 0 $g-1;
    margin: 0;
    background-color: $gray-9;
  }

  &__value-container {
    @include form-field;
    margin-top: -(g(1.5));
    transition:
      border-color 0.15s,
      color 0.15s;
  }

  &__value {
    flex-grow: 1;
    position: relative;
    height: $g-5;
    line-height: $g-3;
  }

  &__input {
    @include form-field-padding;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: none; // stupid firefox…

    &::placeholder {
      color: currentColor;
      opacity: 0.5;
    }
  }

  &__icon {
    padding-right: $g-1;
  }

  &__show-password {
    cursor: pointer;
    padding: 0 $g-1;
    color: $gray-4;
  }

  &__show-password-checkbox {
    display: none;
  }

  &--valid & {
    &__value-container {
      border-color: $c-valid;

      &:not(:focus-within) {
        color: $c-valid;
      }
    }
  }

  &--invalid & {
    &__value-container:not(:focus-within) {
      border-color: $c-error;
      color: $c-error;
    }
  }
}
