.project-section {
  margin: 0 auto;
  max-width: g(150);

  &__project {
    margin-top: 0;

    &:not(:first-child) {
      margin-top: $g-6;
    }
  }
}

@media (min-width: 800px), (min-aspect-ratio: 5/3) {
  .project-section__project {
    display: flex;
  }
}
