.splash-screen {
  position: relative;
  width: 100vw;
  height: 100%;
  background: 50% 50% url("/assets/images/crates.svg");
  background-size: cover;
  overflow: hidden;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-color: rgba(#375DA1, 0.7);
  }

  &__title {
    font-family: $f-header;
    font-size: 80px;
    line-height: 120px;
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.7));
  }

  &__strap-line {
    font-family: $f-body;
    font-size: 30px;
    line-height: 72px;
    border-top: 4px solid white;
    padding: 0 $g-4;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.8));
  }

  .preco-logo .p-l--red,
  .preco-logo .p-l--grey {
    fill: white;
  }
}
