.svg-icon-definitions {
  display: none;
  position: absolute;
}

.icon-stroke {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4px;
}

.svg-icon {
  width: 32px;
  height: 32px;
}
