$preco-red:  #810f1d;
$preco-gray: #4f4c4c;
$navy:       #4494cd;

$gray-1: #071320;
$gray-2: #172433;
$gray-3: #28364c;
$gray-4: #3D4B64;
$gray-5: #697a9e;
$gray-6: #acbde0;
$gray-6: #cbd5f0;
$gray-8: #F0F3FA;
$gray-9: #f6f7fd;
