<div class="app-layout">
  <div class="app-layout__header">
    {{preco-header}}
  </div>

  <div class="app-layout__body">
    {{outlet}}
  </div>

  <div class="app-layout__footer">
    {{main-footer class="app__footer"}}
  </div>
</div>

{{svg-icon-definitions}}
